// 文字大小
$font_o_zero: 0.625rem; // 10px
$font_0_one: 11px; //11px
$font_0_two: 0.75rem; //12px
$font_0_three: 0.8125rem; //13px
$font_0_four: 0.875rem; //14px
$font_0_five: 0.9375rem; //15px
$font_0_six: 1rem; //16px
$font_0_seven: 1.0625rem; //17px
$font_0_eight: 1.125rem; //18px
$font_0_nine: 1.1875rem; //19px
$font_t_zero: 1.25rem; //20px
$font_t_one: 1.3125rem; //21px
$font_t_two: 1.375rem; //22px
$font_t_three: 1.4375rem; //23px
$font_t_four: 1.5rem; //24px
$font_t_five: 1.5625rem; //25px
$font_t_six: 1.625rem; //26px
$font_t_seven: 1.6875rem; //27px
$font_t_eight: 1.75rem; //28px
$font_t_nine: 1.8125rem; //29px
$font_th_zero: 1.875rem; //30px
$font_th_one: 1.9375rem; //31px
$font_th_two: 2rem; //32px
$font_th_three: 2.0625rem; //33px
$font_th_four: 2.125rem; //34px
$font_th_five: 2.1875rem; //35px
$font_th_six: 2.25rem; //36px
$font_th_seven: 2.3125rem; //37px
$font_th_eight: 2.375rem; //38px
$font_th_nine: 2.4375rem; //39px
$font_f_zero: 2.5rem; //40px
$font_f_oneo: 2.5625rem; //41px
$font_f_twoo: 2.625rem; //42px
$font_f_three: 2.6875rem; //43px
$font_f_four: 2.75rem; //44px
$font_f_five: 2.8125rem; //45px
$font_f_sixo: 2.875rem; //46px
$font_f_seven: 2.9375rem; //47px
$font_f_eight: 3rem; //48px
$font_f_nine: 3.0625rem; //49px
